.message-input {
    width: 60%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-notification-button {
    background-color: #36c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .ant-popover-content{
    width: 400px;
  }
  .add-notification-button:hover {
    background-color: #2a5ca8;
  }

  .notification-feed .ant-list-item-meta-title,
  .notification-feed .ant-list-item-meta-description {
    white-space: normal; /* Allow text to wrap */
    word-break: break-word; /* Break long words if necessary */
    max-width: 400px; /* Adjust max width if needed */
  }
  
 